$susy: (
	columns: 12,
	gutters: 1/4,
	gutter-position: inside,
);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,600);
/* Variables for the new file */

/* $basecolor: #886A11; */

$basecolor: #666600;