body { @include container; margin:0; padding:0; overflow-x: hidden; width:100%; height: 100%; }
h1 { @include heading-font; }


.gen {
	height: 200px;
	@include span(4);
	/* width: 100%; */
    p { font-size: 16px; @include normal-font; }

}
.container-1 {
	a { @include heading-font; }

	@include container(90%); 

	.firstdiv {
		@include pickcolor(10%);
	}

	.seconddiv {
		@include pickcolor(15%);
	}

	.thirddiv {
		@include pickcolor(20%);
	}

}

.container-2 { 

	@include container(90%); 

	.fourthdiv {
		@include pickcolor(25%);
	}

	.fifthdiv {
		@include pickcolor(30%);
	}

	.sixthdiv {
		@include pickcolor(35%);
	}

}

.container-3 { 

	@include container(90%); 

	.seventhdiv {
		@include pickcolor(40%);
	}

	.eigthdiv {
		@include pickcolor(45%);
	}

	.ninethdiv {
		@include pickcolor(50%);
	}

}

.container-4 {
    @include container(90%);
    .tenthdiv {
        @include pickcolor-wb(45%);
		@include span(4 split);
    }
    .eleventh {
        @include pickcolor-wb(55%);
		@include span(4 split);
    }
    .twelveth {
    	@include pickcolor-wb(10%);
    	@include span(4 split);
    }
    .thirteenth {
    	@include background-image-set(span(4 split), 200px)
    }
}