@mixin pickcolor($value) {
	background-color: lighten($basecolor, $value);
    @if $value >= 25% {
        color: darken($basecolor, 10%);
    } @else if $value < 25% {
        color: lighten($basecolor, 60%);
    }
	// color: shade( lighten($basecolor, $value), $value );
}

@mixin pickcolor-wb($value) {
	background-color: lighten($basecolor, $value);
	@include border-radius(10px);
    @if $value >= 25% {
        color: darken($basecolor, 10%);
        border: 1px solid darken($basecolor, 10%);
    } @else if $value < 25% {
        color: lighten($basecolor, 60%);
        border: 1px solid lighten($basecolor, 60%);
    }
	// color: shade( lighten($basecolor, $value), $value );
}

@mixin heading-font {
	font-family: 'Josefin Slab', serif !important;
	font-weight: 600;
	font-size: 30px;
	color: $basecolor;
}

@mixin normal-font {
//	font-family: 'Josefin Slab', serif;
    font-family: 'Roboto', sans-serif;
}

@mixin border-def {
	border: 1px solid $basecolor;
}

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

// Single side border-radius

@mixin border-top-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
   -webkit-border-top-left-radius: $radius;
   border-top-left-radius: $radius;
   background-clip: padding-box;
}
@mixin border-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
     -webkit-border-top-right-radius: $radius;
     border-top-right-radius: $radius;
     background-clip: padding-box;
}
@mixin border-bottom-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
   -webkit-border-bottom-left-radius: $radius;
   border-bottom-left-radius: $radius;
   background-clip: padding-box;
}
@mixin border-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
     -webkit-border-top-left-radius: $radius;
     border-top-left-radius: $radius;
     background-clip: padding-box;
}

@mixin background-image-set($v1,$v2) {
	$one: strip-units($v1);
	$two: strip-units($v2);
	$somevar: "https://placehold.it/#{$one}x#{$two}";
	background-image: url($somevar);
	background-repeat: repeat-x;
	height: $v2;
	width: $v1;
}

@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}