<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title This is going to be very very colorful!
	script(src='js/main.js')
	link(rel='stylesheet' type='text/css' href='css/style.css')
body
	