<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title This is going to be very very colorful!
	script(src='js/main.js')
	link(rel='stylesheet' type='text/css' href='css/style.css')
body
	.container-1
		h1
			i.fa.fa-paint-brush
			|  Some of the color schemes
		.firstdiv.gen
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, corrupti, maiores.
		.seconddiv.gen
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, corrupti, maiores.
		.thirddiv.gen
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, corrupti, maiores.

	.container-2
		.fourthdiv.gen
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, corrupti, maiores.
		.fifthdiv.gen
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, corrupti, maiores.
		.sixthdiv.gen
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, corrupti, maiores.
	.container-3
		.seventhdiv.gen
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, corrupti, maiores.
		.eigthdiv.gen
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, corrupti, maiores.
		.ninethdiv.gen
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, corrupti, maiores.
	.container-4
		h1
			.fa.fa-square-o 
			|  We are going to test some borders!
		.tenthdiv.gen
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, corrupti, maiores.
		.eleventh.gen
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, corrupti, maiores.
		.twelveth.gen
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, corrupti, maiores.