<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title This is going to be very very colorful!
	script(src='js/main.js')
	link(rel='stylesheet' type='text/css' href='css/style.css')
body
	.container-1
		h1 Some of the color schemes
		.firstdiv.gen
		.seconddiv.gen
		.thirddiv.gen

	.container-2
		.fourthdiv.gen
		.fifthdiv.gen
		.sixthdiv.gen
	.container-3
		.seventhdiv.gen
		.eigthdiv.gen
		.ninethdiv.gen