<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Listing down all the elements used
  link(rel="stylesheet", href="css/style.css")
body
- var heading = "This page will list down all the elements"
  h1 
    i.fa.fa-home
    != heading
  p
    i.fa.fa-home
    | Something is fishy here!
