<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
body
	.left
		h1 This would be on the left side of the page
		p Hello Everyone

	.right
		h1 This would be on the right side of the page
		p Hello everyone! welcome to the right side.